---
import { Image } from "astro:assets";
import profilePic from "@assets/profile.webp";
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <div class="mt-10 space-y-4">
    <h1 class="text-2xl">Kevin Secay Estrada</h1>
    <h2 class="transition-colors duration-[75ms] [transition-timing-function:cubic-bezier(.36,2.09,.07,-1.52)] hover:bg-green hover:text-current">kesectrl@outlook.com</h2>
    <h3 class="text-green" transition:name="city">Mixco, GT</h3>
    <Image 
      transition:name="img-profile"
      class={"max-w-[180px]"} 
      src={profilePic} 
      alt={"profile"}/>
  </div>
  <p class="text-xs">v1.2025</p>
  <div class="mt-4 space-y-4">
    <p>Hola, Soy Kevin.</p>
    <p>
      ¡Bienvenido a mi portafolio web! Aquí podrás conocer más sobre mi, todo presentado con un toque de estilo retro. En la sección de mi 
      <a class="underline decoration-dotted decoration-red-500 decoration-2 decoration-offset-4" href="/cv">CV</a>, encontrarás detalles sobre mi formación, experiencia y las habilidades que me definen. Además, en la sección de 
      <a class="underline decoration-dotted decoration-red-500 decoration-2 decoration-offset-4" href="/projects">Proyectos</a>, podrás explorar algunos de los trabajos que he realizado, con enlaces directos para ver más a fondo cada uno. También puedes acceder a mi perfil de 
      <a class="underline decoration-dotted decoration-red-500 decoration-2 decoration-offset-4" href="https://github.com/chevskouski" target="_blank">GitHub</a> para descubrir mis proyectos y contribuciones, y conectar conmigo a través de mis 
      <a class="underline decoration-dotted decoration-red-500 decoration-2 decoration-offset-4" href="rss">Redes sociales</a>.
    </p>
  </div>
</Layout>
