---
import Layout from "src/layouts/Layout.astro";
---
<Layout>
  <div>
    <h1 class="mt-10 text-4xl">Mis Redes</h1>
    <ul class="space-y-4">
      <hr>
      <li>
        <a href="https://gt.linkedin.com/in/kevin-estuardo-secay-estrada-637067255">Linkedin</a>
      </li>
      <hr>
      <li>
        <a href="https://www.instagram.com/kevin.secay/">Instagram</a>
      </li>
      <hr>
      <li>
        <a href="https://x.com/keseprs">X (Twitter)</a>
      </li>
      <hr>
      <li>
        <a href="https://www.facebook.com/06nam/">Facebook</a>
      </li>
      <hr>
      <li>
        <a href="https://www.youtube.com/@chevsko">Youtube</a>
      </li>
      <hr>
    </ul>
  </div>
</Layout>