<div class="divisor"></div>
<style>
    .divisor {
        position: relative;
        height: 5px;
        background-color: #F7F6F1;
        position: absolute;
        left: 522px;
        right: 522px;
    }
</style>