<div class="flex flex-col items-end mt-10">
  <ul class="flex text-sm gap-1">
    <li>
      <a class="transition-colors duration-[75ms] [transition-timing-function:cubic-bezier(.36,2.09,.07,-1.52)] hover:bg-green hover:text-current" 
      href="/rss">
        [Redes Sociales]
      </a>
    </li>
    <li>
      <a class="transition-colors duration-[75ms] [transition-timing-function:cubic-bezier(.36,2.09,.07,-1.52)] hover:bg-green hover:text-current" 
      href="https://github.com/chevskouski" target="_blank">
        [Github]
      </a>
    </li>
    <li>
      <a class="transition-colors duration-[75ms] [transition-timing-function:cubic-bezier(.36,2.09,.07,-1.52)] hover:bg-green hover:text-current" 
      href="https://gt.linkedin.com/in/kevin-estuardo-secay-estrada-637067255" target="_blank">
        [Linkedin]
      </a>
    </li>
    <p>░</p>
  </ul>
  <p class="text-xs">WEBSITE BUILT BY 
    <a class="text-green" href="/">KEVIN SECAY</a>
    ░
  </p>
</div>
