<div class="footer-container">
    <div class="footer-info">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Github</a></li>
            <li><a href="">LinkedIn</a></li>
        </ul>
        <p>© 2024 Kevin Secay. Todos los derechos reservados</p>
    </div>
</div>
<style>
    .footer-container {
        margin-top: -100px;
        background-color: #202125;
        width: auto;
        height: auto;
        position: relative;
        z-index: -1; 
    }
    .footer-info {
        padding-top: 150px;
        padding-bottom: 50px;
    }
    .footer-info ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-content: center;
        padding-inline-start: 0px;
        gap: 70px;
    }
    .footer-info a {
        text-decoration: none;
        font-size: 20px;
        color: #E6E2D9;
    }
    .footer-info p {
        margin-top: 60px;
        color: #E6E2D9;
        text-align: center;
        font-size: 18px;
    }
</style>